.details-border-holder {
    margin-left: 80px;
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-holder {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.acc-details-content, .sub-header {
    display: flex;
    gap: 1rem;
}

.col1, .col2 {
    width: 100%;
}

    .col1 p, .col2 p {
        margin: 10px;
    }

.user-log-btn {
    background-color: transparent;
    color: #F9B54A;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    text-decoration: none;
}

    .user-log-btn:hover {
        background: rgba(246,186,77, 0.2);
    }

.border3 {
    border: 1px solid #E2A848;
    padding: 40px 30px 100px 30px;
    border-radius: 20px;
    margin: 100px;
}

.dropdown .dropbtn {
    border: 1px solid #F9B54A;
    background-color: white;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.dropdown .dropdown-content {
    width: 150px;
    background-color: white;
    margin-top: 10px;
    position: absolute;
    display: none;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown form button {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 14px;
}
.sort-holder {
    display: flex;
    flex-direction: column;
}
.sort-btn-holder {
    background-color: transparent;
    border: none;
    height: 1px;
    padding: 0;
}